blinker==1.8.2
click==8.1.7
flask==3.0.3
Flask-Login==0.6.3
flask-sqlalchemy==3.1.1
gunicorn==22.0.0
importlib-metadata==8.2.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
mysql-connector-python==9.0.0
packaging==24.1
pyscrypt==1.6.2
SQLAlchemy==2.0.32
typing-extensions==4.12.2
werkzeug==3.0.3
zipp==3.19.2
